<%- include('includes/head.ejs') %>
<main>
  <% if(mensaje != '') { %>
    <div class="notification is-link">
        <button class="delete"></button>
        <%= mensaje %>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
  <% } %>
  <% if (editar) { %>
    <h1 class="title has-text-centered">EDITAR PROMOCIÓN</h1>
    <div class="columns">
      <div class="column">
      <form class="box has-text-centered" action="<%= process.env.PATH_ENV %>promo/editarPromo" method="POST">
      <input type="hidden" id="id" name="id" value="<%= promociones.IDPromocion %>">
  <% } else { %>
    <h1 class="title has-text-centered">CREAR PROMOCIÓN</h1>
    <div class="columns">
      <div class="column">
      <form class="box has-text-centered" action="<%= process.env.PATH_ENV %>promo/crearPromociones" method="POST">
  <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div class="field has-text-left">
          <label class="label" for="nombrePromo">Nombre</label>
          <div class="control">
            <input class="input" id="nombrePromo" name="nombrePromo" type="text" placeholder="DuperRewards" value="<% if (editar) { %> <%= promociones.NombrePromocion %> <% } %>" required/>
          </div>
        </div>
    
        <div class="field has-text-left">
          <label class="label" for="fechaInicio">Fecha inicio</label>
          <div class="control">
            <input class="input" id="fechaInicio" name="fechaInicio" type="date" data-display-mode="default" value="<%= editar ? promociones.FechaInicio : '' %>" required/> 
          </div>
        </div>
    
        <div class="field has-text-left">
          <label class="label" for="fechaFin">Fecha fin</label>
          <div class="control">
            <input class="input" id="fechaFin" name="fechaFin" type="date" datetime="YYYY/MM/DD" value="<%= editar ? promociones.FechaCaducidad : '' %>" required/>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field has-text-left">
                <label class="label" for="compra">Compra</label>
                <div class="control">
                  <input class="input" id="compra" name="compra" type="number" placeholder="2" value="<%= editar ? promociones.Compra : '' %>" required/>
                </div>
            </div>
            <div class="field has-text-left">
              <label class="label" for="precio">Precio</label>
              <div class="control">
                <input class="input" id="precio" name="precio" type="number" placeholder="100.00" value="<%= editar ? promociones.Precio : '' %>" required/>
              </div>
            </div>
          </div>
        </div>

        <div class="field has-text-left">
          <label class="label" for="recompensa">Recompensas</label>
            <div class="control">
                <% for (recompensa of recompensas) { %>
                    <label class="checkbox">
                        <input type="checkbox" id="recompensa" name="recompensa" value="<%= recompensa.IDRecompensa %>" 
                        <% if (editar) { %> <% for (recomp in promociones.recompensas) { %> <% if (promociones.recompensas[recomp].NombreRecompensa == recompensa.NombreRecompensa) { %>checked<% } %><% } %> <% } %>>

                        <%= recompensa.NombreRecompensa %>
                    </label>
                    <br> 
                <% } %>
            </div>
        </div>

        <div class="control has-text-centered">
            <input type="submit" class="button is-link" value="AGREGAR">
        </div>
      </form>
      <div class="has-text-centered">
        <a href="<%= process.env.PATH_ENV %>recomp/recompensas"class="button is-link">RECOMPENSAS</a>
      </div>
      <br>
    </div>
<%- include('includes/foot.ejs') %>
