<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered">EDITAR TARJETA</h1>
<form action="<%= process.env.PATH_ENV %>tarjeta/tarjeta" method="POST">
<input type="hidden" name="_csrf" value="<%= csrfToken %>" >

<section class="section">
<div class="container">
    <div class="columns">
        <div class="column is-half">
            <div class="field-container">
                <div class="box">
                    
                    <div class="field">
                        <label class="label">Sellos</label>
                        <div class="control">
                            <input id="Limite" name="Limite" class="input" type="number" required>
                        </div>
                    </div>
                    
                   <div class="field">
                       <label class="label" for="NombrePromocion">Promociones</label>
                       <div class="control">
                           <ul>
                               <% for (let promocion of promociones) { %>
                                   <% if (promocion.Activo == 1) { %>
                                       <li>
                                           <%= promocion.NombrePromocion %>
                                       </li>
                                   <% } %>
                               <% } %>
                           </ul>
                       </div>
                   </div>
                            
                    <div class="field">
                        <label class="label">Vigencia</label>
                        <div class="control">
                            <input id="Vigencia" name="Vigencia" class="input" type="date" required>
                        </div>
                    </div>
                               
                    <div class="control has-text-centered">
                        <input type="submit" class="button is-link" value="ENVIAR">
                    </div>
                </div>
            </div>
            </form>
            <br>

            <div class="control has-text-centered">
                <a href="<%= process.env.PATH_ENV %>promo/promociones" class="button is-link">EDITAR PROMOCIONES</a>
            </div>
        </div>

      <div class="column is-half">
        <!-- <figure class="image">
          <img src="/Tarjeta-Lealtad.png" alt="Loyalty Card">
        </figure> -->
        <div class="column is-narrow">
          <div class="container">
              <div class="cardDB">
                  <div class="card-innerDB">
                      <div class="frontDB">
                          <img src="/Dupper-brands-logo.png" class="db-img" width="600px">
                          <div class="rowDB">
                              <a class="image is-24x24" href="#">
                                  <img src="/settings_tarjeta.png">
                              </a>
                              <p class="text has-text-right has-text-white">DUPER REWARDS</p>
                          </div>
                          <div class="rowDB sellos">
                              <div id="circle"></div>
                              <div id="circle"></div>
                              <div id="circle"></div>
                              <div id="circle"></div>
                              <div id="circle"></div>
                          </div>
                          <div class="rowDB sellos">
                              <div id="circle"></div>
                              <div id="circle"></div>
                              <div id="circle"></div>
                              <div id="circle"></div>
                              <div id="circle"></div>
                          </div>
                          <div class="rowFDB">
                              <div class="left has-text-left">
                              <p class="text has-text-left has-text-white">@usuario</p>
                              <p class="text has-text-left has-text-white">@teléfono</p>
                              </div>
                              <div class="right has-text-right">
                                  <p class="text has-text-right has-text-white">@sucursal</p>
                                  <p class="text has-text-right has-text-white">@teléfono sucursal</p>
                              </div>
                          </div>
                      
                      </div>
                  </div>
              </div>
          </div> 
          <br>
      </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/foot.ejs') %>
