<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered">MI SUCURSAL</h1>
</br>
<div class="card">
    <header class="card-header">
        <p class="card-header-title"><%= sucursal.NombreSucursal %></p>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content">
        <div class="content">                      
            <strong>Número:</strong> <%= sucursal.NumSucursal %>
            <br></br>
            <strong>Ciudad:</strong> <%= sucursal.Ciudad %>
            <br></br>
            <strong>Estado:</strong> <%= sucursal.Estado %>
            <br></br>
            <strong>Dirección:</strong> <%= sucursal.Direccion %>
            <br></br>
            <strong>CP:</strong> <%= sucursal.CP %>
        </div>
    </div>
</div>
  <table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rol</th>
      <th>Número de Teléfono</th>
      <th>Fecha de Nacimiento</th>
      <th>Género</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (usuario of usuarios) { %>
      <tr>
        <td><%= usuario.NombreUsuario %></td>
        <td><%= usuario.TipoRol %></td>
        <td><%= usuario.NumTelefono %></td>
        <td><%= usuario.FechaNacimiento.toISOString().slice(0, 10)%></td>
        <td><%= usuario.Genero %></td>
        <td><%= usuario.Direccion %></td>
        <td><%= usuario.Ciudad %></td>
        <td><%= usuario.Estado %></td>
        <td>
          <a href="<%= process.env.PATH_ENV %>editarUsuario/<%= usuario.IDUsuario %>" class="button is-link is-small">Editar</a>
        </td>
        <td>
          <a href="<%= process.env.PATH_ENV %>eliminarUsuario/<%= usuario.IDUsuario %>" class="button is-danger is-small"
              onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">Eliminar</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
    <br><br>
    <a href="<%= process.env.PATH_ENV %>sucur/sucursales" class="button is-warning">Regresar a Sucursales</a>
    <a href="<%= process.env.PATH_ENV %>registrar" class="button is-link">Crear usuario</a>
    <a href="<%= process.env.PATH_ENV %>ver compras" class="button is-link">Ver compras</a>
    <br></br>
<%- include('includes/foot.ejs') %>
