<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered">PROMOCIONES</h1>
<main>
    <% if(mensaje != '') { %>
        <div class="notification is-link">
            <button class="delete"></button>
            <%= mensaje %>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;
    
                    $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
    <% } %>
    <br />
    <div class="control has-text-centered">
        <a href="<%= process.env.PATH_ENV %>promo/crearPromociones" class="button agregar-btn is-link">AGREGAR MÁS</a>
    </div>
    <br>
    <div class="columns is-multiline">
        <% for (promocion of promociones) { %>
        <div id="promocionesA" class="column is-half">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title"><%= promocion.NombrePromocion %></p>
                <button class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </header>
              <div class="card-content">
                <div class="content">
                  Vigencia: <time datetime="2016/1/1"><%= promocion.FechaCaducidad.toISOString().slice(0, 10) %></time>
                  <br>
                  
                  Recompensa/s: 
                  <% if (promocion.recompensas.length == 0) { %> 'Sin recompensa' <% } %>
                  <% for (let recompensa of promocion.recompensas) { %>
                    <ul>
                      <li><%= recompensa.NombreRecompensa %></li>
                    </ul>
                  <% } %> 

                  <form action="<%= process.env.PATH_ENV %>promo/promociones" name="estatusForm<%= promocion.IDPromocion %>" method="POST">
                  <input type="hidden" id="id" name="id" value="<%= promocion.IDPromocion %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <div class="switches">
                      <label class="switch">
                        <label class="label" for="estatus">Estatus</label>
                        <input type="checkbox" id="estatus" name="estatus" data-on="1" data-off="0" <% if (promocion.Activo == "1") { %>checked<% } %>>
                        <span class="slider round">
                          <span class="on">Activo</span>
                          <span class="off">Bloqueado</span>
                        </span>
                      </label>
                    </div>
                  </form>
                  <script>
                    document.querySelectorAll('.switch input[type="checkbox"]').forEach(function(checkbox) {
                      checkbox.addEventListener('change', function() {
                        var form = this.closest('form'); 
                        var data = this.dataset;
                        this.value = this.checked ? data.on : data.off;

                        form.submit(); 
                      });
                    });
 
                  </script>
                  <br>
                </div>
              </div>
              <footer class="card-footer">
                <a href="<%= process.env.PATH_ENV %>promo/editarPromo/<%= promocion.IDPromocion %>" class="card-footer-item">Editar</a>
                <a href="<%= process.env.PATH_ENV %>promo/deletePromo/<%= promocion.IDPromocion %>" class="card-footer-item">Eliminar</a>
              </footer>
            </div>
            <br>
        </div>
      <% } %>
    </div>
<%- include('includes/foot.ejs') %>