<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered">RECOMPENSAS</h1>
<main>
    <% if(mensaje != '') { %>
        <div class="notification is-link">
            <button class="delete"></button>
            <%= mensaje %>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;
    
                    $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
    <% } %>
    <br>
    <div class="control has-text-centered">
        <a href="<%= process.env.PATH_ENV %>recomp/recompensas/agregar" class="button agregar-btn is-link">AGREGAR MÁS</a>
    </div>
    <br>

    <div class="box is-200x200">
          
        <input
            class="input is-rounded is-link"
            type="text"
            placeholder="Buscar..."
            id="buscar"
            name="buscar"
        />
        <br />
        <br>
        <div id="recompensasA" class="columns is-multiline">
            <% for (let recompensa of recompensas) { %>
                <div class="column is-4 is-one-quarter">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title"><%= recompensa.NombreRecompensa %></p>
                            <button class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </header>
                        <footer class="card-footer">
                            <a href="<%= process.env.PATH_ENV %>recomp/editRecompensas/<%= recompensa.IDRecompensa %>" class="card-footer-item">Editar</a>
                            <a href="<%= process.env.PATH_ENV %>recomp/delete/<%= recompensa.IDRecompensa %>" class="card-footer-item">Eliminar</a>
                        </footer>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <% if (currentPage > 1) { %>
            <a class="pagination-previous" href="<%= process.env.PATH_ENV %>recomp/recompensas?page=<%= currentPage - 1 %>">Anterior</a>
        <% } else { %>
            <a class="pagination-previous" disabled>Anterior</a>
        <% } %>

        <!-- Botón para página siguiente -->
        <% if (currentPage < totalPages) { %>
            <a class="pagination-next" href="<%= process.env.PATH_ENV %>recomp/recompensas?page=<%= currentPage + 1 %>">Siguiente</a>
        <% } else { %>
            <a class="pagination-next" disabled>Siguiente</a>
        <% } %>

        <!-- Números de página -->
        <ul class="pagination-list">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li>
                    <a href="<%= process.env.PATH_ENV %>recomp/recompensas?page=<%= i %>" class="pagination-link <%= currentPage === i ? 'is-current' : '' %>">
                        <%= i %>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
    <script>
        document.getElementById("buscar").onkeyup = () => {
        const valor_busqueda = document.getElementById("buscar").value;
            
        fetch(`/recomp/buscar/${valor_busqueda}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(result => {
            return result.json(); //Regresa otra promesa
        }).then(data => {
            console.log(data);
            let html = "";
            for (recompensa of data) { 
                html += `
                <div class="column is-4 is-one-quarter">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">${recompensa.NombreRecompensa}</p>
                            <button class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </header>
                        <footer class="card-footer">
                            <a href="<%= process.env.PATH_ENV %>recomp/editRecompensas/${recompensa.IDRecompensa}" class="card-footer-item">Editar</a>
                            <a href="<%= process.env.PATH_ENV %>recomp/delete/${recompensa.IDRecompensa}" class="card-footer-item">Eliminar</a>
                        </footer>
                    </div>
                </div>
                `;
            }
            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
            document.getElementById("recompensasA").innerHTML = html;
        }).catch(err => {
            console.error(err);
        });
        }
    </script>


    <br>
<%- include('includes/foot.ejs') %>