<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered"><%= editar ? 'EDITAR SUCURSAL' : 'AGREGAR SUCURSALES'%></h1>
<form action="<%=editar ? '/sucur/editarSucursal' : '/sucur/registrarSucursal' %>" method="POST">

<input type="hidden" name="_csrf" value="<%= csrfToken %>" >
<% if (editar) {%>

    <input type="hidden" name="IDSucursal" value="<%=sucursal.IDSucursal %>">
<% } %>

<% if (mensaje && mensaje.trim() !== '') { %>
    <div class="notification is-link">
        <button class="delete"></button>
        <%= mensaje %>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
<% } %>


    <div class="box">
        <div class="field">
            <label class="label" for="Nombre">Nombre</label>
            <div class="control">
                <input id="NombreSucursal" name="NombreSucursal" class="input" type="text" placeholder="Chilako" value="<%= editar ? sucursal.NombreSucursal : '' %>" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="Direccion">Dirección</label>
            <div class="control">
                <input id="Direccion" name="Direccion" class="input" type="text" placeholder="Calle Benito Juárez Nte. 127, Centro" value="<%= editar ? sucursal.Direccion : '' %>" required> 
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label" for="CP">CP</label>
                    <div class="control">
                        <input id="CP" name="CP" class="input" type="text" placeholder="27105" value="<%= editar ? sucursal.CP : '' %>" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="Ciudad">Ciudad</label>
                    <div class="control">
                        <input id="Ciudad" name="Ciudad" class="input" type="text" placeholder="Querétaro" value="<%= editar ? sucursal.Ciudad : '' %>" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for"Estado">Estado</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="Estado" name="Estado">
                                <option value="Aguascalientes" <%= sucursal.Estado === 'Aguascalientes' ? 'selected' : '' %>>Aguascalientes</option>
                                <option value="Baja California" <%= sucursal.Estado === 'Baja California' ? 'selected' : '' %>>Baja California</option>
                                <option value="Baja California Sur" <%= sucursal.Estado === 'Baja California Sur' ? 'selected' : '' %>>Baja California Sur</option>
                                <option value="Campeche" <%= sucursal.Estado === 'Campeche' ? 'selected' : '' %>>Campeche</option>
                                <option value="Chiapas" <%= sucursal.Estado === 'Chiapas' ? 'selected' : '' %>>Chiapas</option>
                                <option value="Chihuahua" <%= sucursal.Estado === 'Chihuahua' ? 'selected' : '' %>>Chihuahua</option>
                                <option value="Coahuila" <%= sucursal.Estado === 'Coahuila' ? 'selected' : '' %>>Coahuila</option>
                                <option value="Colima" <%= sucursal.Estado === 'Colima' ? 'selected' : '' %>>Colima</option>
                                <option value="Durango" <%= sucursal.Estado === 'Durango' ? 'selected' : '' %>>Durango</option>
                                <option value="Guanajuato" <%= sucursal.Estado === 'Guanajuato' ? 'selected' : '' %>>Guanajuato</option>
                                <option value="Guerrero" <%= sucursal.Estado === 'Guerrero' ? 'selected' : '' %>>Guerrero</option>
                                <option value="Hidalgo" <%= sucursal.Estado === 'Hidalgo' ? 'selected' : '' %>>Hidalgo</option>
                                <option value="Jalisco" <%= sucursal.Estado === 'Jalisco' ? 'selected' : '' %>>Jalisco</option>
                                <option value="Estado de México" <%= sucursal.Estado === 'Estado de México' ? 'selected' : '' %>>Estado de México</option>
                                <option value="Michoacán" <%= sucursal.Estado === 'Michoacán' ? 'selected' : '' %>>Michoacán</option>
                                <option value="Morelos" <%= sucursal.Estado === 'Morelos' ? 'selected' : '' %>>Morelos</option>
                                <option value="Nayarit" <%= sucursal.Estado === 'Nayarit' ? 'selected' : '' %>>Nayarit</option>
                                <option value="Nuevo León" <%= sucursal.Estado === 'Nuevo León' ? 'selected' : '' %>>Nuevo León</option>
                                <option value="Oaxaca" <%= sucursal.Estado === 'Oaxaca' ? 'selected' : '' %>>Oaxaca</option>
                                <option value="Puebla" <%= sucursal.Estado === 'Puebla' ? 'selected' : '' %>>Puebla</option>
                                <option value="Querétaro" <%= sucursal.Estado === 'Querétaro' ? 'selected' : '' %>>Querétaro</option>
                                <option value="Quintana Roo" <%= sucursal.Estado === 'Quintana Roo' ? 'selected' : '' %>>Quintana Roo</option>
                                <option value="San Luis Potosí" <%= sucursal.Estado === 'San Luis Potosí' ? 'selected' : '' %>>San Luis Potosí</option>
                                <option value="Sinaloa" <%= sucursal.Estado === 'Sinaloa' ? 'selected' : '' %>>Sinaloa</option>
                                <option value="Sonora" <%= sucursal.Estado === 'Sonora' ? 'selected' : '' %>>Sonora</option>
                                <option value="Tabasco" <%= sucursal.Estado === 'Tabasco' ? 'selected' : '' %>>Tabasco</option>
                                <option value="Tamaulipas" <%= sucursal.Estado === 'Tamaulipas' ? 'selected' : '' %>>Tamaulipas</option>
                                <option value="Tlaxcala" <%= sucursal.Estado === 'Tlaxcala' ? 'selected' : '' %>>Tlaxcala</option>
                                <option value="Veracruz" <%= sucursal.Estado === 'Veracruz' ? 'selected' : '' %>>Veracruz</option>
                                <option value="Yucatán" <%= sucursal.Estado === 'Yucatán' ? 'selected' : '' %>>Yucatán</option>
                                <option value="Zacatecas" <%= sucursal.Estado === 'Zacatecas' ? 'selected' : '' %>>Zacatecas</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="Numero">Número</label>
            <div class="control">
                <input id="NumSucursal" name="NumSucursal" class="input" type="text" placeholder="(xxx) xxx-xxxx" value="<%= editar ? sucursal.NumSucursal : '' %>" required>
            </div>
        </div>
            
        <div class="control has-text-centered">
           <input type="submit" class="button is-link" value="<%= editar ? 'Editar' : 'Registrar' %>">
        </div>
    </div>
</form>
<%- include('includes/foot.ejs') %>
