<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered">RECOMPENSAS</h1>
<main>
  <% if(mensaje != '') { %>
    <div class="notification is-link">
        <button class="delete"></button>
        <%= mensaje %>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
  <% } %>
  <% if (editar) { %>
    <div class="columns">
      <div class="column">
      <form class="box has-text-centered" action="/promo/editRecompensas" method="POST">
      <input type="hidden" id="id" name="id" value="<%= recompensa.IDRecompensa %>">
  <% } else { %>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
      <form class="box has-text-centered" action="/promo/recompensas/agregar" method="POST">
  <% } %>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="field has-text-left">
        <label class="label" for="NombreRecompensa">Nombre</label>
        <div class="control">
          <input class="input" id="NombreRecompensa" name="NombreRecompensa" type="text" placeholder="2x1" />
        </div>
      </div>
      <div class="control has-text-centered">
        <input type="submit" class="button is-link" value=" REGISTRAR">
      </div>
    </form>
    <br>
  </div>
<%- include('includes/foot.ejs') %>