<%- include('includes/head.ejs') %>
<h1 class="title"><%= editar ? 'Editar Usuario' : 'Registro de Usuario'%></h1>
<form action="<%=editar ? '/editarUsuario' : '/registrar' %>" method="POST">

<input type="hidden" name="_csrf" value="<%= csrfToken %>">
<% if (editar) { %>

    <input type="hidden" name="IDUsuario" value="<%= usuario.IDUsuario %>">
<% } %>
    <div class="box">
        <div class="field">
            <label class="label" for="Nombre">Nombre</label>
            <div class="control">
                <input id="NombreUsuario" name="NombreUsuario" class="input" type="text" placeholder="Ricardo Cortés Espinosa" value="<%= editar ? usuario.NombreUsuario : '' %>" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="IDSucursal">Sucursal</label>
            <div class="control">
                <div class="control">
                    <div class="select">
                        <select id="IDSucursal" name="IDSucursal" required>
                            <% for (let sucursal of sucursales) { %>
                                <option value="<%= sucursal.IDSucursal %>" <%= sucursal.IDSucursal === sucursal.IDSucursal ? 'selected' : '' %>>
                                    <%= sucursal.NombreSucursal %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="Teléfono">Telefono</label>
            <div class="control">
                <input id="NumTelefono" name="NumTelefono" class="input" type="number" placeholder="+52 442 238 3100" value="<%= editar ? usuario.NumTelefono : '' %>" required> 
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label" for="Genero">Género</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="Genero" name="Genero">
                                <option value="Femenino" <%= usuario && usuario.Genero === 'Femenino' ? 'selected' : '' %>>Femenino</option>
                                <option value="Masculino" <%= usuario && usuario.Genero === 'Masculino' ? 'selected' : '' %>>Masculino</option>
                                <option value="Otro" <%= usuario && usuario.Genero === 'Otro' ? 'selected' : '' %>>Otro</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="FechaNacimiento">Fecha de nacimiento</label>
                    <div class="control has-icons-right">
                        <input id="FechaNacimiento" name="FechaNacimiento" class="input" type="date" value="<%= editar ?  usuario.FechaNacimiento : '' %>" required>
                        <span class="icon is-small is-right">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                </div>               
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body"> 
                <div class="field">
                    <label class="label" for="Ciudad">Ciudad</label>
                    <div class="control">
                        <input id="Ciudad" name="Ciudad" class="input" type="text" placeholder="Querétaro" value="<%= editar ? usuario.Ciudad : '' %>" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="Estado">Estado</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="Estado" name="Estado">
                                <option value="Aguascalientes" <%= usuario && usuario.Estado === 'Aguascalientes' ? 'selected' : '' %>>Aguascalientes</option>
                                <option value="Baja California" <%= usuario && usuario.Estado === 'Baja California' ? 'selected' : '' %>>Baja California</option>
                                <option value="Baja California Sur" <%= usuario && usuario.Estado === 'Baja California Sur' ? 'selected' : '' %>>Baja California Sur</option>
                                <option value="Campeche" <%= usuario && usuario.Estado === 'Campeche' ? 'selected' : '' %>>Campeche</option>
                                <option value="Chiapas" <%= usuario && usuario.Estado === 'Chiapas' ? 'selected' : '' %>>Chiapas</option>
                                <option value="Chihuahua" <%= usuario && usuario.Estado === 'Chihuahua' ? 'selected' : '' %>>Chihuahua</option>
                                <option value="Coahuila" <%= usuario && usuario.Estado === 'Coahuila' ? 'selected' : '' %>>Coahuila</option>
                                <option value="Colima" <%= usuario && usuario.Estado === 'Colima' ? 'selected' : '' %>>Colima</option>
                                <option value="Durango" <%= usuario && usuario.Estado === 'Durango' ? 'selected' : '' %>>Durango</option>
                                <option value="Guanajuato" <%= usuario && usuario.Estado === 'Guanajuato' ? 'selected' : '' %>>Guanajuato</option>
                                <option value="Guerrero" <%= usuario && usuario.Estado === 'Guerrero' ? 'selected' : '' %>>Guerrero</option>
                                <option value="Hidalgo" <%= usuario && usuario.Estado === 'Hidalgo' ? 'selected' : '' %>>Hidalgo</option>
                                <option value="Jalisco" <%= usuario && usuario.Estado === 'Jalisco' ? 'selected' : '' %>>Jalisco</option>
                                <option value="Estado de México" <%= usuario && usuario.Estado === 'Estado de México' ? 'selected' : '' %>>Estado de México</option>
                                <option value="Michoacán" <%= usuario && usuario.Estado === 'Michoacán' ? 'selected' : '' %>>Michoacán</option>
                                <option value="Morelos" <%= usuario && usuario.Estado === 'Morelos' ? 'selected' : '' %>>Morelos</option>
                                <option value="Nayarit" <%= usuario && usuario.Estado === 'Nayarit' ? 'selected' : '' %>>Nayarit</option>
                                <option value="Nuevo León" <%= usuario && usuario.Estado === 'Nuevo León' ? 'selected' : '' %>>Nuevo León</option>
                                <option value="Oaxaca" <%= usuario && usuario.Estado === 'Oaxaca' ? 'selected' : '' %>>Oaxaca</option>
                                <option value="Puebla" <%= usuario && usuario.Estado === 'Puebla' ? 'selected' : '' %>>Puebla</option>
                                <option value="Querétaro" <%= usuario && usuario.Estado === 'Querétaro' ? 'selected' : '' %>>Querétaro</option>
                                <option value="Quintana Roo" <%= usuario && usuario.Estado === 'Quintana Roo' ? 'selected' : '' %>>Quintana Roo</option>
                                <option value="San Luis Potosí" <%= usuario && usuario.Estado === 'San Luis Potosí' ? 'selected' : '' %>>San Luis Potosí</option>
                                <option value="Sinaloa" <%= usuario && usuario.Estado === 'Sinaloa' ? 'selected' : '' %>>Sinaloa</option>
                                <option value="Sonora" <%= usuario && usuario.Estado === 'Sonora' ? 'selected' : '' %>>Sonora</option>
                                <option value="Tabasco" <%= usuario && usuario.Estado === 'Tabasco' ? 'selected' : '' %>>Tabasco</option>
                                <option value="Tamaulipas" <%= usuario && usuario.Estado === 'Tamaulipas' ? 'selected' : '' %>>Tamaulipas</option>
                                <option value="Tlaxcala" <%= usuario && usuario.Estado === 'Tlaxcala' ? 'selected' : '' %>>Tlaxcala</option>
                                <option value="Veracruz" <%= usuario && usuario.Estado === 'Veracruz' ? 'selected' : '' %>>Veracruz</option>
                                <option value="Yucatán" <%= usuario && usuario.Estado === 'Yucatán' ? 'selected' : '' %>>Yucatán</option>
                                <option value="Zacatecas" <%= usuario && usuario.Estado === 'Zacatecas' ? 'selected' : '' %>>Zacatecas</option>
                            </select>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="field">
            <label class="label" for="Direccion">Dirección</label>
            <div class="control">
                <input id="Direccion" name="Direccion" class="input" type="text" value="<%= editar ? usuario.Direccion : '' %>" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="Rol">Rol</label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select name="IDRol" required>
                        <% roles.forEach(function(rol) { %>
                          <option value="<%= rol.IDRol %>"><%= rol.TipoRol %></option>
                        <% }); %>
                      </select>
                      
                </div>
            </div>
        </div>

            <div class="field">
                <label class="label" for="Contrasenia">Contraseña</label>
                <div class="control">
                    <input id="Contrasenia" name="Contrasenia" class="input" type="password" placeholder="Ingrese su contraseña" required>
                </div>
            </div>

        <div class="control has-text-centered">
            <input type="submit" class="button is-link" value="<%= editar ? 'Modificar' : 'Registrar' %>">
        </div>

    </div>
</form>
<%- include('includes/foot.ejs') %>
