<%- include('includes/head.ejs') %>
<h1 class="title has-text-centered">ROLES</h1>
<% if (mensaje && mensaje.trim() !== '') { %>
    <div class="notification is-link">
        <button class="delete"></button>
        <%= mensaje %>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
<% } %>

<div class="control has-text-centered">
    <a href="<%= process.env.PATH_ENV %>config/crearRol" class="button agregar-btn is-link">AGREGAR MÁS</a>
</div>
<br>

<!-- Creamos un conjunto (Set) para verificar duplicados -->
<%
    const rolesMostrados = new Set();
%>

<div class="columns is-multiline">
    <% roles.forEach(rol => { %>
        <% if (!rolesMostrados.has(rol.IDRol)) { %> <!-- Verifica si el rol ya fue mostrado -->
            <% rolesMostrados.add(rol.IDRol); %> <!-- Si no ha sido mostrado, agrégalo al conjunto -->

            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title"><%= rol.TipoRol %></p>
                        <button class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <strong>Privilegios:</strong>
                            <% if (rol.Actividad.length === 0) { %> 
                                <p>'Sin permisos'</p>
                            <% } else { %>
                                <ul>
                                    <% rol.Actividad.forEach(privilegio => { %>
                                        <li><%= privilegio.Actividad %></li>
                                    <% }) %>
                                </ul>
                            <% } %> 
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="<%= process.env.PATH_ENV %>config/editarRol/<%= rol.IDRol %>" class="card-footer-item">Editar</a>
                        <a href="<%= process.env.PATH_ENV %>config/eliminarRol/<%= rol.IDRol %>" class="card-footer-item" onclick="return confirm('¿Estás seguro de que deseas eliminar este rol');">Eliminar</a>
                    </footer>
                </div>
            </div>

        <% } %> <!-- Fin del condicional para evitar duplicados -->
    <% }) %>
</div>
<%- include('includes/foot.ejs') %>
